<template>
  <div class="color">
    <div
      v-for="tint in tints"
      :key="`${flavour}-tint-${tint}`"
      :style="style(tint)"
    >
      var(--ok-color-{{flavour}}-{{tint}})
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  title: {
    type: String,
    default: 'primary',
  },
  flavour: {
    type: String,
    default: 'primary',
  },
})

const tints = ref([100,200,300,400,500,600,700,800,900])

const style = (tint) => {
  return {
    backgroundColor: `var(--ok-color-${props.flavour}-${tint})`,
    color: `var(--ok-color-${props.flavour}-${tint}-a11y)`,
  }
}
</script>

<style lang="scss" scoped>
.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  // padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
  overflow: hidden;
  font-size: var(--ok-font-size-14);
  div {
    padding: var(--ok-grid-base);
    min-width: 70%;
    text-align: center;
    &:first-child {
      border-radius: var(--ok-grid-base) var(--ok-grid-base) 0 0;
    }
    &:last-child {
      border-radius: 0 0 var(--ok-grid-base) var(--ok-grid-base);
    }
  }
}
</style>
