<template>
  <component
    :is="flex ? 'ok-grid' : 'div'"
    :dir="column ? 'col' : 'row'"
    :class="classes"
    justify="around"
  >
    <slot />
  </component>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  flex: Boolean,
  column: Boolean,
})

const classes = computed(() => {
  return {
    'stage': true,
    'contrast': props.contrast,
  }
})
</script>

<style lang="scss" scoped>
.stage {
  background: var(--ok-color-component-background);
}
</style>
