<template>
  <div class="wrapper">
    <slot />
  </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>
.wrapper {
  display: block;
  position: relative;
  :deep(ul) {
    padding: 0;
  }
  :deep(li) + li {
    margin: 0;
  }
  > :deep(.ok-grid) {
    font-size: 12px;
    background: transparent;
    outline: solid 1px rgb(168, 202, 255);
    padding: 8px;
    > .ok-grid {
      font-size: 12px;
      background: rgb(208,226,255);
      outline: solid 1px rgb(168, 202, 255);
      padding: 8px;
    }
    &.row,
    &.phone-small-row,
    &.phone-large-row,
    &.tablet-small-row,
    &.tablet-large-row,
    &.desktop-small-row,
    &.desktop-large-row {
      // background: $color-row;
      // box-shadow: inset 10px 10px 5px 10px lighten($color-row, 10%);
      // border-radius:4% 15% 6% 15%/9% 4% 2% 5%;
      &:empty {
        min-height: 1rem;
      }
    }
    &.col,
    &.small,
    &.medium,
    &.large,
    &.xlarge,
    &.maximum {
      &:empty {
        min-height: 1rem;
      }
    }
    &.large {
      height: 8rem;
    }
    &.highlighted {
      border-style: solid;
    }
  }
}
</style>
