<template>
  <img id="logo-sample" alt="Vue logo" src="/logo.png" />
  <h1>Hello</h1>

  <ok-button id="start-tour-sample" flavour="secondary" @click="$tours['myTour'].start()">Start tour</ok-button>

  <div>
    <div id="step-0">This element has a id of `step-0`.</div>
    <div class="step-1">But this one has a class of `step-1``.</div>
    <div data-step="2">The final one actually has the attribute `data-step="2"`.</div>
    <ok-tour name="myTour" :steps="steps" :options="options" />
  </div>
</template>

<script setup>
import { ref, onMounted, getCurrentInstance } from 'vue'

const internalInstance = getCurrentInstance()
const { $tours } = internalInstance.appContext.config.globalProperties

const steps = ref([
  {
    target: '#logo-sample',  // We're using document.querySelector() under the hood
    header: {
      title: 'Get Started',
    },
    content: `Discover the <strong>design system</strong>!`,
  },
  {
    target: '#start-tour-sample',
    content: 'You can start the tour whenever you please!',
    params: {
      placement: 'right', // NOTE Any valid Popper.js placement. https://popper.js.org/popper-documentation.html#Popper.placements
    },
  },
  {
    target: '#step-0',
    content: 'Use id!',
  },
  {
    target: '.step-1',
    content: 'Use class!',
  },
  {
    target: '[data-step="2"]',
    content: 'Or even use a custom element and a value.',
    params: {
      placement: 'top',
    },
  },
])
const options = ref({
  highlight: true,
})
onMounted(() => {
  $tours['myTour'].start()
})
</script>
