<template>
  <ok-jedi v-model="model" title="complex" allowEdit />
</template>

<script setup>
  import { ref } from 'vue'
  import content from '../../../mocks/complex.json'

  const model = ref(content)
</script>
