<template>
  <section
    v-show="active"
    :id="computedId"
    ref="tab"
    :aria-hidden="! active"
    class="tab-panel"
    role="tabpanel"
  >
    <slot />
  </section>
</template>

<script setup>
import {inject, watch, ref, onBeforeMount, onBeforeUnmount} from 'vue'
const props = defineProps({
  id: {
    type: String,
    default: null,
  },
  name: {
    type: String,
    required: true,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
})

const active = ref(false)
const tabsProvider = inject('tabsProvider')
const addTab = inject('addTab')
const updateTab = inject('updateTab')
const deleteTab = inject('deleteTab')
const header = `${props.name}`
const computedId = props.id ? props.id : props.name.toLowerCase().replace(/ /g, '-')
const hash = '#' + (!props.disabled ? computedId : '')
watch(
  () => tabsProvider.activeTabHash,
  () => {
    active.value = hash === tabsProvider.activeTabHash
  },
)
watch(() => Object.assign({}, props), () => {
  updateTab(computedId, {
    name: props.name,
    header: props.name,
    disabled: props.disabled,
    hash: hash,
    index: tabsProvider.tabs.length,
    computedId: computedId,
  })
})
onBeforeMount(() => {
  addTab({
    name: props.name,
    header: header,
    disabled: props.disabled,
    hash: hash,
    index: tabsProvider.tabs.length,
    computedId: computedId,
  })
})
onBeforeUnmount(() => {
  deleteTab(computedId)
})
</script>

<style lang="scss">
.tab-panel {
  padding: calc(var(--ok-grid-base) * 2);
}
</style>
