<template>
  <div class="ok-tabs">
    <ul
      ref="tablist"
      class="tablist"
      role="tablist"
    >
      <li
        v-for="(tab, i) in state.tabs"
        :key="i"
        :class="[ 'ok-tabs-tab', tab.disabled ? 'disabled' : '', tab.active ? 'active' : '' ]"
        role="presentation"
      >
        <ok-grid
          is="a"
          role="tab"
          align="center"
          :class="[ 'ok-tabs-tab-a', tab.disabled ? 'disabled' : '', tab.active ? 'active' : '' ]"
          :aria-controls="tab.hash"
          :aria-selected="tab.active"
          :href="tab.hash"
          @click="selectTab(tab.hash, $event)"
        >
          {{tab.header}}
        </ok-grid>
      </li>
      <!-- <div class="nav-placeholder" id="nav-placeholder-tools" /> -->
    </ul>
    <div :class="'ok-tabs-panels'">
      <slot />
    </div>
  </div>
</template>

<script setup>
import { provide, onMounted, reactive, getCurrentInstance, ref } from 'vue'

const props = defineProps({
  options: {
    type: Object,
    required: false,
    default: () => ({
      useUrlFragment: true,
      defaultTabHash: null,
    }),
  },
})

const emit = defineEmits(['changed', 'clicked'])

const tablist = ref()

const state = reactive({
  activeTabHash: '',
  lastActiveTabHash: '',
  tabs: [],
})

const instance = getCurrentInstance();

provide('tabsProvider', state)

provide('addTab', (tab) => {
  state.tabs.push(tab)
})
provide('updateTab', (computedId, data) => {
  let tabIndex = state.tabs.findIndex((tab) => tab.computedId === computedId)
  data.active = tabs.value[tabIndex].active
  tabs.value[tabIndex] = data
})
provide('deleteTab', (computedId) => {
  let tabIndex = state.tabs.findIndex((tab) => tab.computedId === computedId)
  state.tabs.splice(tabIndex, 1)
})

const selectTab = (selectedTabHash, event) => {
  if (event && !props.options.useUrlFragment) {
    event.preventDefault()
  }
  const selectedTab = findTab(selectedTabHash)
  if (!selectedTab) {
    return
  }
  if (event && selectedTab.disabled) {
    event.preventDefault()
    return
  }
  if (state.lastActiveTabHash === selectedTab.hash) {
    emit('clicked', {tab: selectedTab})
    return
  }
  state.tabs.forEach(tab => {
    tab.active = (tab.hash === selectedTab.hash)
  })
  emit('changed', {tab: selectedTab})
  state.lastActiveTabHash = state.activeTabHash = selectedTab.hash
}
const findTab = (hash) => state.tabs.find(tab => tab.hash === hash)

onMounted(() => {
  if (!state.tabs.length) {
    return
  }
  window.addEventListener('hashchange', () => selectTab(window.location.hash))
  if (findTab(window.location.hash)) {
    selectTab(window.location.hash)
    return
  }
  if (props.options.defaultTabHash && findTab("#" + props.options.defaultTabHash)) {
    selectTab("#" + props.options.defaultTabHash)
    return
  }
  selectTab(state.tabs[0].hash)
})
</script>

<style lang="scss" scoped>
.ok-tabs {
  position: relative;
  width: 100%;
  ul {
    display: flex;
    background: var(--ok-color-text);
    height: calc(var(--ok-grid-base) * 6);
    margin: 0;
    padding: 0 0 0 calc(var(--ok-grid-base) * 6);
    li {
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      user-select: none;
      cursor: pointer;
      &:focus {
        box-shadow: inset 0 0 0 2px var(--ok-color-primary);
      }
      &:hover {
        background-color: var(--ok-color-jet);
      }
      a {
        height: 100%;
        padding: 0 calc(var(--ok-grid-base) * 6) 0 calc(var(--ok-grid-base) * 2);
        color: var(--ok-color-text-negative);
        font-weight: var(--ok-front-weight-regular);
      }
      &.disabled a {
        color: var(--ok-color-jet);
      }
      &.active {
        box-shadow: inset 0 3px 0 0 var(--ok-color-primary);
      }
    }
  }
}
</style>
