<template>
  <ok-card
    click="handleClick"
    @click="handleClick"
    clickable
    asLine
  >
    <template v-slot:header>
      <h1>Header</h1>
    </template>
    <h3>Sub Header</h3>
    <p>Paragraph</p>
    <h4>Footnote</h4>
    <template v-slot:footer>
      <ok-icon name="arrow-right" />
    </template>
  </ok-card>
</template>

<script setup>
  const handleClick = () => {
    console.log('click')
  }
</script>
