<template>
  <ok-card href="#" headerImage="https://cdn-images-1.medium.com/max/1024/1*MHDS_rEc80ekwmdHHw_LLg.jpeg">
    <template v-slot:header>
      <h1>Header</h1>
    </template>
    <h3>Sub Header</h3>
    <p>Paragraph</p>
    <h4>Footnote</h4>
    <template v-slot:footer>
      <ok-icon name="arrow-right" />
    </template>
  </ok-card>
</template>
