<template>
  <ok-grid :dir="{phoneSmall: 'row', tabletSmall: 'col'}">
    <ok-grid :dir="{phoneSmall: 'col', tabletSmall: 'row'}" grow>1 of 3</ok-grid>
    <ok-grid :dir="{phoneSmall: 'col', tabletSmall: 'row'}" grow>2 of 3</ok-grid>
    <ok-grid :dir="{phoneSmall: 'col', tabletSmall: 'row'}" grow>3 of 3</ok-grid>
  </ok-grid>
</template>
