<template>
  <ok-grid dir="row">
    <ok-grid dir="col">Side</ok-grid>
    <ok-grid dir="col">by</ok-grid>
    <ok-grid dir="col">Side</ok-grid>
  </ok-grid>

  <ok-grid dir="col">
    <ok-grid dir="row">Top</ok-grid>
    <ok-grid dir="row">Middle</ok-grid>
    <ok-grid dir="row">Bottom</ok-grid>
  </ok-grid>
</template>
