<template>
  <ok-grid :dir="{phoneSmall: 'col', tabletSmall: 'row'}">
    <ok-grid :dir="{phoneSmall: 'row', tabletSmall: 'col'}">First</ok-grid>
    <ok-grid :dir="{phoneSmall: 'row', tabletSmall: 'col'}">Second</ok-grid>
    <ok-grid :dir="{phoneSmall: 'row', tabletSmall: 'col'}">Third</ok-grid>
  </ok-grid>
</template>
