<template>
  <ok-grid dir="col" gap="xs">
    <ok-grid dir="row">extra-small</ok-grid>
    <ok-grid dir="row">extra-small</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="sm">
    <ok-grid dir="row">small</ok-grid>
    <ok-grid dir="row">small</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="md">
    <ok-grid dir="row">medium</ok-grid>
    <ok-grid dir="row">medium</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="lg">
    <ok-grid dir="row">large</ok-grid>
    <ok-grid dir="row">large</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="xl">
    <ok-grid dir="row">extra-large</ok-grid>
    <ok-grid dir="row">extra-large</ok-grid>
  </ok-grid>
</template>
