<template>
  <ok-grid dir="row" :gap="{phoneSmall: 'small', tabletSmall: 'extra-large'}">
    <ok-grid dir="col" grow>Sample</ok-grid>
    <ok-grid dir="col" grow>Sample</ok-grid>
  </ok-grid>

  <ok-grid dir="col" :gap="{phoneSmall: 'small', tabletSmall: 'extra-large'}">
    <ok-grid dir="row">Sample</ok-grid>
    <ok-grid dir="row">Sample</ok-grid>
  </ok-grid>
</template>
