<template>
  <ok-grid dir="col" gap="medium">
    <ok-grid dir="row">parent is wide</ok-grid>
    <ok-grid dir="row">parent is wide</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="medium" mode="narrow">
    <ok-grid dir="row">parent is narrow</ok-grid>
    <ok-grid dir="row">parent is narrow</ok-grid>
  </ok-grid>
  <ok-grid dir="col" gap="medium" mode="condensed">
    <ok-grid dir="row">parent is condensed</ok-grid>
    <ok-grid dir="row">parent is condensed</ok-grid>
  </ok-grid>
</template>
