<template>
  <ok-grid dir="row" gap="xs" >
    <ok-grid dir="col">extra-small</ok-grid>
    <ok-grid dir="col">extra-small</ok-grid>
  </ok-grid>
  <ok-grid dir="row" gap="sm" >
    <ok-grid dir="col">small</ok-grid>
    <ok-grid dir="col">small</ok-grid>
  </ok-grid>
  <ok-grid dir="row" gap="md" >
    <ok-grid dir="col">medium</ok-grid>
    <ok-grid dir="col">medium</ok-grid>
  </ok-grid>
  <ok-grid dir="row" gap="lg" >
    <ok-grid dir="col">large</ok-grid>
    <ok-grid dir="col">large</ok-grid>
  </ok-grid>
  <ok-grid dir="row" gap="xl" >
    <ok-grid dir="col">extra-large</ok-grid>
    <ok-grid dir="col">extra-large</ok-grid>
  </ok-grid>
</template>
