<template>
  <ok-grid dir="row">
    <ok-grid dir="col" :grid="{phoneSmall: 10, tabletSmall: 6}">Sample</ok-grid>
    <ok-grid dir="col" :grid="{phoneSmall: 6, tabletSmall: 12}">Sample</ok-grid>
  </ok-grid>
</template>
