<template>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="16">16</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="1">1</ok-grid>
    <ok-grid dir="col" grid="15">15</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="2">2</ok-grid>
    <ok-grid dir="col" grid="14">14</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="3">3</ok-grid>
    <ok-grid dir="col" grid="13">13</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="4">4</ok-grid>
    <ok-grid dir="col" grid="12">12</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="5">5</ok-grid>
    <ok-grid dir="col" grid="11">11</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="6">6</ok-grid>
    <ok-grid dir="col" grid="10">10</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="7">7</ok-grid>
    <ok-grid dir="col" grid="9">9</ok-grid>
  </ok-grid>
  <ok-grid dir="row">
    <ok-grid dir="col" grid="8">8</ok-grid>
    <ok-grid dir="col" grid="8">8</ok-grid>
  </ok-grid>
</template>
