<template>
  <ok-grid dir="col">
    <ok-grid justify="end" grid="1" shift="15">15/1</ok-grid>
    <ok-grid justify="end" grid="2" shift="14">14/2</ok-grid>
    <ok-grid justify="end" grid="3" shift="13">13/3</ok-grid>
    <ok-grid justify="end" grid="4" shift="12">12/4</ok-grid>
    <ok-grid justify="end" grid="5" shift="11">11/5</ok-grid>
    <ok-grid justify="end" grid="6" shift="10">10/6</ok-grid>
    <ok-grid justify="end" grid="7" shift="9">9/7</ok-grid>
    <ok-grid justify="end" grid="8" shift="8">8/8</ok-grid>
    <ok-grid justify="end" grid="9" shift="7">7/9</ok-grid>
    <ok-grid justify="end" grid="10" shift="6">6/10</ok-grid>
    <ok-grid justify="end" grid="11" shift="5">5/11</ok-grid>
    <ok-grid justify="end" grid="12" shift="4">4/12</ok-grid>
    <ok-grid justify="end" grid="13" shift="3">3/13</ok-grid>
    <ok-grid justify="end" grid="14" shift="2">2/14</ok-grid>
    <ok-grid justify="end" grid="15" shift="1">1/15</ok-grid>
    <ok-grid justify="end" grid="16" shift="0">0/16</ok-grid>
  </ok-grid>
</template>
