<template>
  <ok-grid dir="row" :justify="{phoneSmall: 'center', tabletSmall: 'left'}">
    <ok-grid dir="col">aligned center or left</ok-grid>
  </ok-grid>
  <ok-grid dir="row" :justify="{phoneSmall: 'center'}">
    <ok-grid dir="col">aligned center always</ok-grid>
  </ok-grid>
  <ok-grid dir="row" :justify="{phoneSmall: 'center', tabletSmall: 'right'}">
    <ok-grid dir="col">aligned center or right</ok-grid>
  </ok-grid>
</template>
