<template>
  <ok-grid dir="row" justify="start">
    <ok-grid dir="col">left</ok-grid>
  </ok-grid>
  <ok-grid dir="row" justify="center">
    <ok-grid dir="col">center</ok-grid>
  </ok-grid>
  <ok-grid dir="row" justify="end">
    <ok-grid dir="col">right</ok-grid>
  </ok-grid>
  <ok-grid dir="row" justify="around">
    <ok-grid dir="col">around</ok-grid>
    <ok-grid dir="col">around</ok-grid>
    <ok-grid dir="col">around</ok-grid>
  </ok-grid>
  <ok-grid dir="row" justify="between">
    <ok-grid dir="col">between</ok-grid>
    <ok-grid dir="col">between</ok-grid>
    <ok-grid dir="col">between</ok-grid>
  </ok-grid>
  <ok-grid dir="row" justify="evenly">
    <ok-grid dir="col">evenly</ok-grid>
    <ok-grid dir="col">evenly</ok-grid>
    <ok-grid dir="col">evenly</ok-grid>
  </ok-grid>
</template>
