<template>
  <ok-grid dir="row" align="start" style="height: 100px">
    <ok-grid dir="col" grow>top</ok-grid>
  </ok-grid>
  <ok-grid dir="row" align="center" style="height: 100px">
    <ok-grid dir="col" grow>middle</ok-grid>
  </ok-grid>
  <ok-grid dir="row" align="end" style="height: 100px">
    <ok-grid dir="col" grow>bottom</ok-grid>
  </ok-grid>
</template>
