<template>
  <ok-grid is="ul" :wrap="{phoneSmall: 'wrap', desktopSmall: 'reverse'}">
    <ok-grid is="li" dir="col">1 of 1</ok-grid>
    <ok-grid is="li" dir="col">1 of 2</ok-grid>
    <ok-grid is="li" dir="col">1 of 3</ok-grid>
    <ok-grid is="li" dir="col">1 of 4</ok-grid>
    <ok-grid is="li" dir="col">1 of 5</ok-grid>
    <ok-grid is="li" dir="col">1 of 6</ok-grid>
    <ok-grid is="li" dir="col">1 of 7</ok-grid>
    <ok-grid is="li" dir="col">1 of 8</ok-grid>
    <ok-grid is="li" dir="col">1 of 9</ok-grid>
    <ok-grid is="li" dir="col">1 of 10</ok-grid>
  </ok-grid>
</template>
