<template>
  <ok-grid
    :class="classes"
    @click="handleClick"
    align="center"
    gap="sm"
  >
    <ok-grid
      dir="col"
      class="icon"
      align="center"
      justify="center"
    >
      <ok-icon
        :name="content.icon"
        :color="mode !== 'collapsed' ? 'var(--ok-color-text)' : 'var(--ok-color-text-negative)'"
      />
    </ok-grid>
    <ok-grid
      v-if="mode !== 'collapsed' || (mode === 'collapsed' && over)"
      class="title"
      grow
    >
      {{ content.title }}
    </ok-grid>
    <ok-icon
      v-if="chevronAllowed"
      class="chevron"
      :name="chevron"
      size="md"
      :color="mode !== 'collapsed' ? 'var(--ok-color-text)' : 'var(--ok-color-text-negative)'"
    />
  </ok-grid>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  content: Object,
  chevron: String,
  mode: String,
  over: Boolean,
})

const emit = defineEmits(['click'])

const classes = computed(() => {
  return {
    'ok-sidenav-title': true,
    'collapsed': props.mode === 'collapsed',
  }
})

const chevronAllowed = computed(() => {
  return props.chevron && (props.mode !== 'collapsed' || (props.mode === 'collapsed' && props.over))
})

const handleClick = (event) => {
  emit('click', event)
}
</script>

<style lang="scss" scoped>
.ok-sidenav-title {
  height: calc(var(--ok-grid-base) * 4);
  font-size: var(--ok-font-size-14);
  .icon {
    min-width: 48px;
    min-height: 48px;
  }
  li {
    // white-space: nowrap;
  }
  cursor: pointer;
  padding: 0 var(--ok-grid-base) 0 0;
  &.collapsed {
    height: calc(var(--ok-grid-base) * 6);
    padding-right: 0;
  }

}
</style>
