<template>
  <ok-grid
    is="ul"
    dir="col"
    :class="classes"
    @mouseenter="over = true"
    @mouseleave="over = false"
    grow
  >
    <component
      :is="elementType(element)"
      v-for="(element, elementIndex) in content"
      :key="`menu-element-${elementIndex}`"
      :content="element"
      :mode="mode"
      :over="over"
    />
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  content: [Array, Object],
  mode: {
    type: String,
    default: 'sidenav',
    validator: (value) => ['sidenav', 'collapsed'].includes(value),
  },
})

const over = ref(false)

const classes = computed(() => {
  return {
    'ok-sidenav': true,
    'collapsed': props.mode === 'collapsed',
    'mouseover': over.value,
  }
})

const sidenavToggleClasses = computed(() => {
  return {
    'sidenav-toggle': true,
    'collapsed': props.mode === 'collapsed',
  }
})

const elementType = (element) => {
  if(element.type === 'split') {
    return 'ok-sidenav-spacer'
  } else if (element.nodes) {
    return 'ok-sidenav-group'
  } else {
    return 'ok-sidenav-item'
  }
}
</script>

<style lang="scss">
.ok-sidenav {
  padding: 0;
  margin: 0;
  // color: var(--ok-color-text);
  // transition: width .1s ease-out;
  overflow-y: scroll;
  // height: calc(100vh - (var(--ok-grid-base)*6));
  &.collapsed {
    // position: absolute;
    // left: 0;
    // top: calc(var(--ok-grid-base)*6);
    // height: calc(100vh - (var(--ok-grid-base)*6));
    &:not(.mouseover) {
      width: calc(var(--ok-grid-base)*6);
      max-width: calc(var(--ok-grid-base)*6);
    }
    &.mouseover {
      width: auto;
      max-width: auto;
    }
    // color: var(--ok-color-text-negative);
    background: var(--ok-color-text);
  }
}
</style>
