<template>
  <ok-grid is="li" dir="col" :class="classes">
    <button @click="expanded = !expanded">
      <ok-sidenav-title
        :content="content"
        :chevron="expanded ? 'chevron-up' : 'chevron-down'"
        :mode="mode"
        :over="over"
      />
    </button>
    <ok-grid
      is="ul"
      dir="col"
      v-show="expanded || (mode==='collapsed' && over && expanded)"
    >
      <component
        :is="elementType(element)"
        v-for="(element, elementIndex) in content.nodes"
        :key="`menu-element-${elementIndex}`"
        :content="element"
        :mode="mode"
        :over="over"
        :ref="(el) => childRefs[elementIndex] = el"
      />
    </ok-grid>
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  content: [Array, Object],
  mode: String,
  over: Boolean,
})

const expanded = ref()
const childRefs = ref([])

function allDescendants (node, subChildren = []) {
  const children = [...subChildren]
  for (var i = 0; i < node.childNodes.length; i++) {
    var child = node.childNodes[i];
    allDescendants(child, children);
    children.push(child?.classList?.contains('router-link-active'));
  }
  return children
}

const classes = computed(() => {
  const result = childRefs.value.map(item => {
    return allDescendants(item.$el)
  }).flat().includes(true)

  return {
    'ok-sidenav-group': true,
    'collapsed': props.mode === 'collapsed',
    'router-link-active': result && !expanded.value,
  }
})

const elementType = (element) => {
  if(element.type === 'split') {
    return 'ok-sidenav-spacer'
  } else if (element.nodes) {
    return 'ok-sidenav-group'
  } else {
    return 'ok-sidenav-item'
  }
}
</script>

<style lang="scss" scoped>
.ok-sidenav-group {
  position: relative;
  button {
    padding: 0;
    color: var(--ok-color-text);
    font-weight: var(--ok-font-weight-semibold);
    &:focus {
      box-shadow: inset 0 0 0 2px var(--ok-color-primary);
    }
    &:hover {
      background-color: var(--ok-color-component-background);
    }
  }
  &.collapsed {
    button {
      color: var(--ok-color-text-negative);
      &:hover {
        background-color: var(--ok-color-jet);
      }
    }
  }
  &.router-link-active {
    button {
      background-color: var(--ok-color-component-background);
      &:before {
        position: absolute;
        display: block;
        content: " ";
        left: 0;
        width: calc(var(--ok-grid-base) / 2);
        background-color: var(--ok-color-primary);
        height: 100%;
      }
    }
    &.collapsed {
      button {
        background-color: var(--ok-color-jet);
      }
    }
  }
  :deep(ul) li {
    > a,
    > div {
      padding-left: calc(var(--ok-grid-base) * 2);
    }
  }
}
</style>
