<template>
  <component
    :class="classes"
    :is="content.wide ? 'ok-grid' : 'hr'"
    v-bind="{...(content.wide && {
      dir: 'col',
      grow: true,
    })}"
  />
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  content: Object,
  mode: String,
  over: Boolean,
})

const classes = computed(() => {
  return {
    'ok-sidenav-spacer': true,
    'wide': props.content.wide,
    'collapsed': props.mode === 'collapsed',
  }
})
</script>

<style lang="scss" scoped>
.ok-sidenav-spacer {
  // box-sizing: border-box;
  &:not(.wide) {
    border: 0;
    display: block;
    border-top: solid 1px var(--ok-color-component-disabled);
    border-bottom: none;
    width: calc(100% - calc(var(--ok-grid-base) * 2));
    margin: var(--ok-grid-base);
    &.collapsed {
      border-top-color: var(--ok-color-jet);
    }
  }
}
</style>
