<template>
  <ok-grid is="li" dir="row" :class="classes">
    <ok-sidenav-title
      v-if="!content.to"
      :content="content"
      @click="expanded = !expanded"
      :mode="mode"
      :over="over"
    />
    <router-link
      v-if="content.to"
      :to="content.to"
      ref="linkRef"
    >
      <ok-sidenav-title
        :content="content"
        @click="expanded = !expanded"
        :mode="mode"
        :over="over"
      />
    </router-link>
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  content: Object,
  mode: String,
  over: Boolean,
})

const linkRef = ref()

const isActive = computed(() => linkRef?.value?.$el?.classList?.contains('router-link-exact-active'))

const classes = computed(() => {
  return {
    'ok-sidenav-item': true,
    'collapsed': props.mode === 'collapsed',
    'router-link-exact-active': isActive.value,
  }
})

defineExpose({
  isActive,
})
</script>

<style lang="scss" scoped>
.ok-sidenav-item {
  position: relative;
  color: var(--ok-color-component-disabled);
  a {
    width: 100%;
    color: var(--ok-color-text);
    &:focus {
      box-shadow: inset 0 0 0 2px var(--ok-color-primary);
    }
    &:hover {
      background-color: var(--ok-color-input-background);
    }
  }
  // &.router-link-active,
  &.router-link-exact-active {
    background-color: var(--ok-color-input-background);
    &.collapsed {
      background-color: var(--ok-color-jet);
    }
    &:before {
      position: absolute;
      display: block;
      content: " ";
      left: 0;
      width: calc(var(--ok-grid-base) / 2);
      background-color: var(--ok-color-primary);
      height: 100%;
    }
  }
  &.collapsed {
    color: var(--ok-color-jet);
    a{
      color: var(--ok-color-text-negative);
      &:hover {
        background-color: var(--ok-color-jet);
      }
    }
    .router-link-active,
    .router-link-exact-active {
      background-color: var(--ok-color-jet);
    }
  }
}
</style>
