<template>
  <ok-button @click="sideBarMode = true">Open sidebar</ok-button>
  <ok-sidebar
    :mode="sideBarMode"
    position="right"
    @close="() => sideBarMode = false"
    blocked
  >
    <div class="ok-sidebar__example">
      <h1 style="margin: 0px;">Sidebar example</h1>
      <p>
        You can see that your TAB focus is trapped here. Upon closing, TAB focus will go back to the previously focused element.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eros felis, accumsan sit amet pulvinar eget,
        blandit id dolor. In at pretium massa. Aenean sit amet nunc scelerisque, gravida odio sit amet, blandit orci.
        Quisque vehicula posuere elementum. Aliquam laoreet massa eu finibus rhoncus. Donec id cursus arcu, sed molestie nunc.
        Quisque tincidunt elit magna, gravida interdum ipsum congue sit amet. Nunc interdum augue sodales, sollicitudin risus non,
        consequat odio. In imperdiet vulputate mi eu ultricies. Phasellus pulvinar nisl congue turpis venenatis, quis elementum
        mauris ornare.
      </p>
      <ok-button @click="() => sideBarMode = false">
        Close
      </ok-button>
    </div>
  </ok-sidebar>
</template>

<script setup>
import { ref } from 'vue'

const sideBarMode = ref()
</script>
