<template>
  <ok-tabs
    :options="{ useUrlFragment: false }"
    @clicked="tabClicked"
    @changed="tabChanged"
    navItemClass="nav-item"
  >
    <ok-tab name="First">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </ok-tab>
    <ok-tab name="Second">
      This is the content of the second tab
    </ok-tab>
    <ok-tab
      name="Disabled"
      disabled
    >
      This content will be unavailable while `disabled` prop set to true
    </ok-tab>
    <ok-tab id="custom-url-fragment" name="Custom">
      Notice the url fragment doesn't match the tab name
    </ok-tab>
  </ok-tabs>
</template>

<script setup>
const tabClicked = (event) => {
  console.log('tabClicked', event)
}
const tabChanged = (event) => {
  console.log('tabChanged', event)
}
</script>
