/* html {font-size: 100%;}

body {
  background: var(--ok-color-text-negative);
  font-family: var(--ok-font-family-sans);
  font-weight: var(--ok-front-weight-regular);
  line-height: var(--ok-font-size-28);
  color: var(--ok-color-text);
}
 */
/* p {margin-bottom: 1rem;} */

/* h1, h2, h3, h4, h5 {
  font-weight: var(--ok-front-weight-regular);
}

h1 {font-size: var(--ok-font-size-54);}
h2 {font-size: var(--ok-font-size-28);}
h3 {font-size: var(--ok-font-size-24);}
h4 {font-size: var(--ok-font-size-20);}
h5 {font-size: var(--ok-font-size-18);} */

/* small, .text_small {font-size: var(--ok-font-size-14);}

.input, .button {font-size: var(--ok-font-size-14);}
.input {
  label {font-size: var(--ok-font-size-12);}
  span {font-size: var(--ok-font-size-12);}
}

.menu {
  font-family: var(--ok-font-family-condensed);
  font-size: var(--ok-font-size-14);
  button {
    font-weight: var(--ok-front-weight-semibold);
  }
} */

