<template>
  <ok-content-list
    emptyHeader="Nothing here yet"
    emptySubheader="Maybe you want to start adding data?"
    emptyCtaLabel="Create a new Type"
    showPlus
    @click="handleClick"
  >
    <ok-grid
      dir="col"
      class="card"
      v-for="modelItem in sampleData"
      :key="`model-${modelItem._id}`"
    >
      <ok-icon :name="modelItem.icon" size="lg" />
      <h2>{{ modelItem.name }}</h2>
      <ok-grid grow is="p">
        {{ modelItem.description }}
      </ok-grid>
      <small>{{ modelItem._id }}</small>
    </ok-grid>
  </ok-content-list>
</template>

<script setup>
import { ref } from 'vue'

const sampleData = ref([
  {
    _id: '1',
    icon: 'gift',
    name: 'Sample 1',
    description: 'Sample description',
  },
  {
    _id: '2',
    icon: 'gift',
    name: 'Sample 2',
    description: 'Sample description',
  },
  {
    _id: '3',
    icon: 'gift',
    name: 'Sample 3',
    description: 'Sample description',
  },
])

const handleClick = () => {
  console.log('plus sign was clicked')
}
</script>
