$bp-small: 320 !default;
$bp-medium: 672 !default;
$bp-large: 1056 !default;
$bp-xlarge: 1312 !default;
$bp-maximum: 1584 !default;

$breakpoints: (
  "small": 320,
  "medium": 672,
  "large": 1056,
  "xlarge": 1312,
  "maximum": 1584,
) !default;

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (min-width: #{$size}px) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}
