@import '../logic/';

$grid-base: 8 !default;

// base colors
/* https://coolors.co/0f62fe-944efd-198038-fddc69-da1e28-f4f4f4-1b1b1b-393939 */
$color-ultramarine-blue: #0f62fe;
$color-jet: #393939;
$color-purple-x11: #944efd;
$color-forest-green: #198038;
$color-naples-yellow: #fddc69;
$color-cadmium-red: #da1e28;
$color-cultured: #f4f4f4;
$color-eerie-black: #1b1b1b;
$color-dutch-white: #f0e2bb;
$color-coyote-brown: #84673d;
$color-steel-teal: #77989a;
$color-white: #fff;
$color-black: #000;

/* https://maketintsandshades.com/#0F62FE,2d7dd2,2d008a,643a71,a648c1,99d5c9,6da84d,f7b267,fb3640 */
$palette: (
  primary: make-shades($color-ultramarine-blue),
  accent: make-shades($color-jet),
  "grey": make-shades($color-cultured, $color-eerie-black),
  "green": make-shades($color-forest-green),
  "yellow": make-shades($color-naples-yellow),
  "red": make-shades($color-cadmium-red),
  "dutch-white": make-shades($color-dutch-white),
  "coyote-brown": make-shades($color-coyote-brown),
  "steel-teal": make-shades($color-steel-teal),

);

@function palette-color($name, $level: 500) {
  @return map-get(map-get($palette, $name), $level);
}

$color-dutch-white: #f0e2bb;
$color-coyote-brown: #84673d;
$color-steel-teal: #77989a;

$color-spanish-gray: #9b9b9b;
$color-silver-chalice: #c4c4c4;
$color-battleship-grey: #8d8d8d;

$color-component-boxshaddow: 0px 10px 10px transparentize(palette-color(primary, 700), .74), 0px 14px 28px transparentize(palette-color(primary, 700), .75);

$font-family-sans: 'IBM Plex Sans', sans-serif;
$font-family-condensed: 'IBM Plex Sans Condensed', sans-serif;
$font-family-serif: 'IBM Plex Serif', serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-48: 3rem;
$font-size-54: 3.375rem;
$font-size-60: 3.75rem;
$font-size-68: 4.25rem;
$font-size-76: 4.75rem;
$font-size-84: 5.25rem;
$font-size-92: 5.75rem;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;
