@use "sass:math";

$grid-max-width: 1440 !default;
$grid-columns: 16 !default;
$grid-gutter: $grid-base * 2 !default;

$gap-ratios: (
  "xs": #{math.div($grid-base, 4)}px,
  "sm": #{math.div($grid-base, 2)}px,
  "md": #{$grid-base}px,
  "lg": #{$grid-base * 2}px,
  "xl": #{$grid-base * 4}px,
) !default;

:root {
  --ok-grid-max-width: #{$grid-max-width}px;
  --ok-grid-columns: #{$grid-columns};
  --ok-grid-gutter: #{$grid-gutter}px;
}
