<template>
  <a
    v-if="href"
    :href="href"
    :class="classes"
    v-bind="{...(disabled && {disabled: true})}"
  >
    <slot />
    <ok-icon v-if="props.icon" :name="props-icon" />
  </a>
  <router-link
    v-else-if="to"
    :to="to"
    :class="classes"
    v-bind="{...(disabled && {disabled: true})}"
  >
    <slot />
    <ok-icon v-if="props.icon" :name="props-icon" />
  </router-link>
  <button
    v-else
    v-ok-ripple
    :class="classes"
    v-bind="{...(disabled && {disabled: true})}"
  >
    <slot />
    <ok-icon v-if="icon" :name="icon" />
  </button>
</template>

<script setup>
import { computed } from 'vue'
const props = defineProps({
  to: {
    type: [String, Object],
    default: null,
  },
  href: {
    type: String,
    default: null,
  },
  flavour: {
    type: String,
    default: 'primary',
    validator: (value) =>
      ['primary', 'secondary', 'tertiary', 'danger'].includes(value),
  },
  icon: {
    type: String,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  size: {
    type: String,
    default: 'lg-productive',
    validator: (value) => [
      'sm',
      'md',
      'lg-expressive',
      'lg-productive',
      'xl',
      'xxl',
    ].includes(value),
  },
})

const classes = computed(() => {
  return {
    'ok-button': true,
    [props.size]: true,
    [props.flavour]: true,
  }
})
</script>

<style lang="scss">
.ok-button {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border: solid 2px var(--ok-color-primary);
  min-width: calc(var(--ok-grid-base) * 16);
  white-space: nowrap;
  &.sm {
    padding: calc(var(--ok-grid-base) / 2);
    height: calc(var(--ok-grid-base) * 4);
    font-size: var(--ok-font-size-12);
    align-items: center;
  }
  &.md {
    padding: var(--ok-grid-base);
    height: calc(var(--ok-grid-base) * 5);
    font-size: var(--ok-font-size-14);
    align-items: center;
  }
  &.lg-expressive {
    padding: calc(var(--ok-grid-base) * 1.5);
    height: calc(var(--ok-grid-base) * 6);
    font-size: var(--ok-font-size-16);
    align-items: center;
  }
  &.lg-productive {
    padding: calc(var(--ok-grid-base) * 1.5);
    height: calc(var(--ok-grid-base) * 6);
    font-size: var(--ok-font-size-14);
    align-items: center;
  }
  &.xl {
    padding: calc(var(--ok-grid-base) * 2);
    height: calc(var(--ok-grid-base) * 8);
    font-size: var(--ok-font-size-14);
  }
  &.xxl {
    padding: calc(var(--ok-grid-base) * 2);
    height: calc(var(--ok-grid-base) * 10);
    font-size: var(--ok-font-size-14);
  }
  &:not([disabled]) {
    &.primary {
      background-color: var(--ok-color-primary);
      border-color: var(--ok-color-primary);
      color: var(--ok-color-primary-a11y);
      &:hover {
        background-color: var(--ok-color-primary-dark);
        border-color: var(--ok-color-primary-dark);
      }
    }
    &.secondary {
      background-color: var(--ok-color-accent);
      border-color: var(--ok-color-accent);
      color: var(--ok-color-accent-a11y);
      &:hover {
        background-color: var(--ok-color-accent-dark);
        border-color: var(--ok-color-accent-dark);
      }
    }
    &.tertiary {
      background-color: var(--ok-color-white);
      border-color: var(--ok-color-primary);
      color: var(--ok-color-primary);
      &:hover, &:focus {
        background-color: var(--ok-color-primary);
        color: var(--ok-color-white);
      }
    }
    &.danger {
      background-color: var(--ok-color-danger);
      border-color: var(--ok-color-danger);
      color: var(--ok-color-danger-a11y);
      &:hover {
        background-color: var(--ok-color-danger-dark);
        border-color: var(--ok-color-danger-dark);
      }
      &:focus {
        // color: var(--ok-color-text-negative);
      }
    }
    &.primary,
    &.secondary,
    &.tertiary,
    &.danger {
      &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 1px var(--ok-color-text-negative);
      }
    }
  }
  &[disabled] {
    border-color: var(--ok-color-component-disabled);
    &:not(.tertiary) {
      color: var(--ok-color-text-disabled);
      background-color: var(--ok-color-component-disabled);
    }
    &.tertiary {
      color: var(--ok-color-component-disabled);
      background-color: var(--ok-color-white);
    }
  }
}
</style>
