<template>
  <article :class="classes">
    <component
      :is="to ? 'router-link' : 'a'"
      v-bind="{...(to ? {to} : {href})}"
      :class="linkClasses"
    >
      <div class="ok-card-image" v-if="headerImage">
        <img :src="headerImage" />
      </div>
      <div class="ok-card-header">
        <slot name="header" />
      </div>
      <div class="ok-card-main">
        <slot />
      </div>
      <div class="ok-card-footer">
        <slot name="footer" />
      </div>
    </component>
  </article>
</template>

<script setup>
import {computed} from 'vue'

const props = defineProps({
  grid: {
    type: [Object, String],
    default: '8',
  },
  clickable: Boolean,
  headerImage: {
    type: String,
    default: null,
  },
  gap: Object,
  to: [String, Object],
  href: String,
  asLine: Boolean,
})

const classes = computed(() => {
  return {
    'ok-card': true,
  }
})
const linkClasses = computed(() => {
  return {
    'clickable': props.clickable,
    'with-image': props.headerImage,
    'as-line': props.asLine,
  }
})
</script>

<style lang="scss">
.ok-card {
  font-family: var(--ok-font-family-sans);
  font-weight: var(--ok-front-weight-regular);
  a {
    display: grid;
    &:not(.as-line) {
      grid-template-columns: 1fr;
      grid-template-rows: 48px 1fr 48px;
      &.with-image {
        grid-template-rows: 2fr .5fr 1fr .5fr;
      }
    }
    &.as-line {
      grid-template-columns: 1fr 1fr 48px;
      grid-template-rows: 1fr;
      &.with-image {
        grid-template-columns: 2fr .5fr 1fr .5fr;
      }
    }
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: var(--ok-color-text-negative);
    &.clickable {
      &:hover {
        background: var(--ok-color-component-background);
        cursor: pointer;
      }
    }
    // box-shadow: 0px 0px 43px 15px rgba(0, 0, 0, 0.17);
    overflow: hidden;
    .ok-card-header {
      grid-area: 1 / 1 / 2 / 2;
      padding: calc(var(--ok-grid-base) * 2);
      .with-image & {
        grid-area: 2 / 1 / 3 / 2;
      }
    }
    &.ok-card-main {
      grid-area: 2 / 1 / 3 / 2;
      .with-image & {
        grid-area: 3 / 1 / 4 / 2;
      }
      padding: calc(var(--ok-grid-base) * 2);
      overflow-y: auto;
    }
    &.ok-card-footer {
      grid-area: 3 / 1 / 4 / 2;
      .with-image & {
        grid-area: 4 / 1 / 5 / 2;
      }
      padding: calc(var(--ok-grid-base) * 2);
      // padding: var(--ok-grid-base) 0 var(--ok-grid-base) 0;
    }
    &.ok-card-image {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
</style>
