<template>
  <ok-grid
    dir="col"
    is="form"
    @submit.prevent="handleSubmit"
    class="ok-form"
    v-bind="{ ...(gap && { gap }) }"
  >
    <slot name="header" />
    <ok-input
      v-for="(fieldValue, fieldKey, fieldIndex) in schema.fields"
      :key="`${fieldKey}-${fieldIndex}`"
      :label="extraFieldData[fieldKey].label || fieldKey"
      :name="fieldKey"
      v-model="formFields[fieldKey]"
      :type="extraFieldData[fieldKey]?.password === true
        ? 'password'
        : schema[fieldKey]?.type
      "
      @blur="validate(fieldKey, formItemRefs[fieldIndex])"
      @keypress="validate(fieldKey, formItemRefs[fieldIndex])"
      :ref="(el) => (formItemRefs[fieldIndex] = el)"
      v-bind="{ ...(Boolean(formErrors[fieldKey]) && { invalid: true }) }"
      :placeholder="extraFieldData[fieldKey]?.placeholder"
      :comment="formErrors[fieldKey]"
    />
    <ok-button
      flavour="primary"
      type="submit"
    >
      {{ extraFieldData?.submit?.label || 'Submit' }}
    </ok-button>
    <ok-grid class="footer">
      <slot name="footer" />
    </ok-grid>

  </ok-grid>
</template>

<script setup>
import { ref } from 'vue'

const props = defineProps({
  title: String,
  gap: {
    type: [Object, String],
    default: 'lg',
  },
  schema: {
    type: Object,
  },
  fieldLabels: {
    type: Object,
  },
  extraFieldData: {
    type: Object,
    default: () => {},
  },
  controls: {
    type: Array,
    default: () => [],
  },
})

const formItemRefs = ref([])
const formFields = ref({})
const formErrors = ref({})

const emit = defineEmits(['submit'])

const handleSubmit = (value, name) => {
  props.schema
    .validate(formFields.value, { abortEarly: false })
    .then(() => {
      formErrors.value = {}

      emit('submit', formFields)
    })
    .catch((err) => {
      console.log(err)
      err.inner.forEach((error) => {
        formErrors.value[error.path] = error.message
      })
    })
}
const validate = (field, elementRef) => {
  // console.log(elementRef.pristine, elementRef.touched)
  if (elementRef.touched) {
    props.schema
      .validateAt(field, formFields.value)
      .then(() => {
        formErrors.value[field] = ''
      })
      .catch((err) => {
        formErrors.value[field] = err.message
      })
  }
}
</script>

<style lang="scss" scoped>
.ok-form {
  min-width: 50vw;
  .footer {
    border-top: solid 1px var(--color-component-border);
    padding: var(--ok-grid-base) 0 var(--ok-grid-base) 0;
  }
}
</style>
