<template>
  <component :is="is" :class="classes" ref="root">
    <slot />
  </component>
</template>

<script setup>
import {computed, ref} from 'vue'

const root = ref()
const getRef = () => root.value

defineExpose({
  getRef,
})

const props = defineProps({
  is: {
    type: String,
    default: 'div',
  },
  dir: {
    type: [String, Object],
    default: 'row',
    validator: (value) => ['row', 'col', 'row-reverse', 'col-reverse'].includes(value) || typeof value === 'object',
  },
  align: {
    type: [String, Object],
    default: null,
    validator: (value) => ['start', 'end', 'center', 'baseline', 'stretch'].includes(value) || typeof value === 'object',
  },
  justify: {
    type: [String, Object],
    default: () => null,
    validator: (value) => ['around', 'between', 'center', 'end', 'evenly', 'line', 'start'].includes(value)  || typeof value === 'object',
  },
  gap: {
    type: [String, Object],
    default: null,
  },
  grid: {
    type: [Number, String, Object],
    default: null,
  },
  shift: {
    type: [Number, String, Object],
    default: null,
  },
  grow: {
    type: Boolean,
    default: null,
  },
  flex: {
    type: Boolean,
    default: null,
  },
  first: {
    type: [Boolean, Array],
    default: null,
  },
  last: {
    type: [Boolean, Array],
    default: null,
  },
  visible: {
    type: [Boolean, Object],
    default: null,
  },
  reverse: {
    type: [Boolean, Array],
    default: false,
  },
  shrink: {
    type: Boolean,
    default: null,
  },
  wrap: {
    type: [String, Object],
    default: null,
    validator: (value) => ['nowrap', 'wrap', 'reverse'].includes(value) || typeof value === 'object',
  },
  mode: {
    type: String,
    default: 'wide',
    validation: (value) => ['wide', 'narrow', 'condensed'].includes(value),
  },
})

const classes = computed(() => {
  const {
    align,
    dir,
    grow,
    flex,
    justify,
    gap,
    grid,
    shift,
    first,
    last,
    visible,
    reverse,
    shrink,
    wrap,
    mode,
  } = props

  const responsiveClassCollection = {
    direction: {},
    alignment: {},
    justify: {},
    gap: {},
    reverse: {},
    grid: {},
    shift: {},
    first: {},
    last: {},
    visible: {},
    wrap: {},
  }

  const normalizedBreakpoint = (breakpoint) => {
    return breakpoint.replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase()
  }

  dir && typeof dir === 'object' && Object.keys(dir).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.direction[dir[breakpoint]] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.direction[`${normBp}-${dir[breakpoint]}`] = true
    }
  })

  align && typeof align === 'object' && Object.keys(align).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.alignment[`align-${align[breakpoint]}`] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.alignment[`${normBp}-align-${align[breakpoint]}`] = true
    }
  })

  justify && typeof justify === 'object' && Object.keys(justify).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.justify[`justify-${justify[breakpoint]}`] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.justify[`${normBp}-justify-${justify[breakpoint]}`] = true
    }
  })

  gap && typeof gap === 'object' && Object.keys(gap).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.gap[`gap-${gap[breakpoint]}`] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.gap[`${normBp}-gap-${gap[breakpoint]}`] = true
    }
  })

  reverse && typeof reverse === 'object' && reverse.forEach((breakpoint, index) => {
    const normBp = normalizedBreakpoint(breakpoint)
    if(index===0) {
      responsiveClassCollection.reverse[`${normBp}-reverse`] = true
      if(!Object.keys(dir).includes(breakpoint)) {
        console.warn('there is no corresponding dir setting for at least one reverse setting.\nYour reverse choice won\'t be applied!')
      }
    } else {
      responsiveClassCollection.reverse[`${normBp}-reverse`] = true
    }
  })

  grid && typeof grid === 'object' && Object.keys(grid).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.grid[`grid-${grid[breakpoint]}`] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.grid[`${normBp}-grid-${grid[breakpoint]}`] = true
    }
  })

  shift && typeof shift === 'object' && Object.keys(shift).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.shift[`shift-${shift[breakpoint]}`] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.shift[`${normBp}-shift-${shift[breakpoint]}`] = true
    }
  })

  first && typeof first === 'object' && first.forEach((breakpoint, index) => {
    const normBp = normalizedBreakpoint(breakpoint)
    if(index===0) {
      responsiveClassCollection.first[`${normBp}-first`] = true
      if(!Object.keys(dir).includes(breakpoint)) {
        console.warn('there is no corresponding dir setting for at least one `first` setting.\nYour `first` choice won\'t be applied!')
      }
    } else {
      responsiveClassCollection.first[`${normBp}-first`] = true
    }
  })

  last && typeof last === 'object' && last.forEach((breakpoint, index) => {
    const normBp = normalizedBreakpoint(breakpoint)
    if(index===0) {
      responsiveClassCollection.last[`${normBp}-last`] = true
      if(!Object.keys(dir).includes(breakpoint)) {
        console.warn('there is no corresponding dir setting for at least one `last` setting.\nYour `last` choice won\'t be applied!')
      }
    } else {
      responsiveClassCollection.last[`${normBp}-last`] = true
    }
  })

  visible && typeof visible === 'object' && Object.keys(visible).forEach((breakpoint) => {
    const normBp = normalizedBreakpoint(breakpoint)
    responsiveClassCollection.visible[`${normBp}-${visible[breakpoint] ? 'visible' : 'hidden'}`] = true
  })

  wrap && typeof wrap === 'object' && Object.keys(wrap).forEach((breakpoint, index) => {
    if(index===0) {
      responsiveClassCollection.wrap[wrap[breakpoint]] = true
    } else {
      const normBp = normalizedBreakpoint(breakpoint)
      responsiveClassCollection.wrap[`${normBp}-${wrap[breakpoint]}`] = true
    }
  })

  return {
    'ok-grid': true,
    [dir]: typeof dir === 'string',
    'flex': flex,
    [mode]: mode,
    ...(responsiveClassCollection.direction && {...responsiveClassCollection.direction}),
    reverse: reverse && typeof reverse === 'boolean',
    ...(responsiveClassCollection.reverse && {...responsiveClassCollection.reverse}),
    [`align-${align}`]: align && typeof align === 'string',
    ...(responsiveClassCollection.alignment && {...responsiveClassCollection.alignment}),
    [`justify-${justify}`]: justify && typeof justify === 'string',
    ...(responsiveClassCollection.justify && {...responsiveClassCollection.justify}),
    [`gap-${gap}`]: gap && typeof gap === 'string',
    ...(responsiveClassCollection.gap && {...responsiveClassCollection.gap}),
    [`grid-${grid}`]: grid && typeof grid !== 'object',
    ...(responsiveClassCollection.grid && {...responsiveClassCollection.grid}),
    [`shift-${shift}`]: shift && typeof shift !== 'object',
    ...(responsiveClassCollection.shift && {...responsiveClassCollection.shift}),
    [`wrap-${wrap}`]: wrap,
    grow: grow,
    shrink: shrink,
    [wrap]: typeof wrap === 'string',
    ...(responsiveClassCollection.wrap && {...responsiveClassCollection.wrap}),
    first: first && typeof first === 'boolean',
    ...(responsiveClassCollection.first && {...responsiveClassCollection.first}),
    last: last && typeof last === 'boolean',
    ...(responsiveClassCollection.last && {...responsiveClassCollection.last}),
    [visible ? 'visible' : 'hidden']: visible !== null && typeof visible === 'boolean',
    ...(responsiveClassCollection.visible && {...responsiveClassCollection.visible}),
  }
})
</script>
