<template>
  <component :is="is" v-if="visibility" class="ok-guides ok-guides-main">
    <div class="ok-guides-lines">
      <template v-for="line in Array.from(Array(17).keys())" :key="line">
        <div :class="['ok-guides-line', `ok-guides-line-${line}`]" />
        <div :class="['ok-guides-gutter', `ok-guides-gutter-${line}`]" />
      </template>
    </div>
  </component>
</template>

<script setup>
import {ref, onMounted, onUnmounted, watchEffect} from 'vue'

const props = defineProps({
  is: {
    type: String,
    default: 'div',
  },
  assignedkey: {
    type: String,
    default: 'g',
  },
  visible: {
    type: Boolean,
    default: false,
  },
})

const visibility = ref()

watchEffect(() => {
  visibility.value = props.visible
})
const handleKeyDown = (event) => {
  if (event.key === props.assignedkey) {
    visibility.value = !visibility.value
  }
}
onMounted(() => {
  document.addEventListener('keydown', handleKeyDown)
});
onUnmounted(() => {
  document.removeEventListener('keydown', handleKeyDown);
})

</script>

<style lang="scss">
:root {
  --ok-guide-left-limit-color: rgb(1, 171, 163);
  --ok-guide-right-limit-color: rgb(237, 5, 121);
  --ok-guide-column-color: rgb(152, 193, 255);
  --ok-guide-gutter-color: rgb(152, 193, 255, .2);
  --ok-grid-guides-zindex: 2147483647;
}

.ok-guides {
  box-sizing: border-box;
  &-main {
    position: fixed;
    // max-width: calc(var(--ok-grid-max-width) + var(--ok-grid-gutter))px;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: var(--ok-grid-guides-zindex);
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    border-left: 1px solid var(--ok-guide-left-limit-color);
    border-right: 1px solid var(--ok-guide-right-limit-color);
  }
  &-lines {
    position: relative;
    height: 100%
  }
  &-line {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
    border-left: 1px dotted var(--ok-guide-column-color);
    @for $i from 0 through 16 {
      &-#{$i} { left: calc((100% * #{$i}) / var(--ok-grid-columns)); }
    }
  }
  &-gutter {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: var(--ok-grid-gutter);
    top: 0;
    background: var(--ok-guide-gutter-color);
    @for $i from 0 through 16 {
      &-#{$i} { left: calc(((100% * #{$i})/var(--ok-grid-columns)) - (var(--ok-grid-gutter)/2)); }
    }
  }
}
</style>
