<template>
  <i
    v-if="provider==='lineicons'"
    :class="lineIconClasses"
    :style="style"
    @click="handleClick"
  />
  <i
    v-if="provider==='onekindicons'"
    :class="okIconClasses"
    :style="okIconStyles"
    @click="handleClick"
  >
    <svg
      aria-hidden="true"
      :height="iconSize"
      :width="iconSize"
      :stroke-width="line"
    >
      <use :href="`#icon-${name}`" />
    </svg>
  </i>
</template>

<script setup>
import '../assets/lineicons/lineicons.css'
import { computed } from 'vue'

const props = defineProps({
  class: {
    type: [String, Array, Object],
  },
  name: {
    type: String,
    required: true,
  },
  size: {
    type: String,
    default: 'md',
    validator: (value) => ['xxl', 'xl', 'lg', 'md', 'sm', 'xs'].includes(value),
  },
  effect: {
    type: String,
    validator: (value) =>
      [
        'spin',
        'tada',
        'flashing',
        'burst',
        'fade-left',
        'fade-right',
        'fade-up',
        'fade-down',
      ].includes(value),
  },
  style: {
    type: Object,
    default: () => {},
  },
  color: {
    type: String,
    default: 'var(--ok-color-text)',
  },
  provider: {
    type: String,
    default: 'onekindicons',
    validator: (value) => ['lineicons', 'onekindicons'].includes(value),
  },
  line: {
    type: Number,
    default: 1,
  },
  clickable: Boolean,
})

const emit = defineEmits(['click'])

const lineIconClasses = computed(() => {
  const aditionalClasses = typeof props.class === 'string'
    ? { [props.class]: true }
    : props.class

  return {
    'ok-icon': true,
    ...( aditionalClasses && aditionalClasses),
    lni: true,
    [`lni-${props.name}`]: true,
    [`lni-${props.size}`]: true,
    [`lni-${props.effect}-effect`]: props.effect,
  }
})

const okIconClasses = computed(() => {
  const aditionalClasses = typeof props.class === 'string'
    ? { [props.class]: true }
    : props.class

  return {
    'ok-icon': true,
    ...( aditionalClasses && aditionalClasses),
    'ok-icons': true,
    [`ok-icon-${props.size}`]: true,
    'clickable': props.clickable,
  }
})

const okIconStyles = computed(() => {
  return {
    color: props.color,
  }
})

const iconSize = computed(() => {
  return {
    xxl: '92px',
    xl: '60px',
    lg: '32px',
    md: '20px',
    sm: '16px',
    xs: '12px',
  }[props.size]
})

const handleClick = (event) => {
  if(props.clickable) {
    emit('click', event)
  }
}
</script>

<style lang="scss" scoped>
  .ok-icon {
    line-height: 1em;
    &.clickable {
      cursor: pointer;
    }
    &-xxl {
      max-width: var(--ok-font-size-92);
      max-height: var(--ok-font-size-92);
      height: var(--ok-font-size-92);
      width: var(--ok-font-size-92);
    }
    &-xl {
      max-width: var(--ok-font-size-60);
      max-height: var(--ok-font-size-60);
      height: var(--ok-font-size-60);
      width: var(--ok-font-size-60);
    }
    &-lg {
      max-width: var(--ok-font-size-32);
      max-height: var(--ok-font-size-32);
      height: var(--ok-font-size-32);
      width: var(--ok-font-size-32);
    }
    &-md {
      max-width: var(--ok-font-size-20);
      max-height: var(--ok-font-size-20);
      height: var(--ok-font-size-20);
      width: var(--ok-font-size-20);
    }
    &-sm {
      max-width: var(--ok-font-size-16);
      max-height: var(--ok-font-size-16);
      height: var(--ok-font-size-16);
      width: var(--ok-font-size-16);
    }
    &-xs {
      max-width: var(--ok-font-size-12);
      max-height: var(--ok-font-size-12);
      height: var(--ok-font-size-12);
      width: var(--ok-font-size-12);
    }
  }
</style>
