<template>
  <ok-grid
    gap="xsm"
    :class="classes"
    dir="col"
    :as="label"
  >
    <label :for="name" @click="handleLabelClick">
      {{ label }} <span>{{ comment }}</span>
    </label>
    <input
      :id="id"
      :type="type"
      :value="localModelValue"
      ref="input"
      @input="localModelValue = $event.target.value"
      :name="name"
      :placeholder="placeholder"
      :autocomplete="autocomplete"
      @blur="handleBlur"
      @keypress="handleKeypress"
      :aria-label="label"
      :required="required"
      :disabled="disabled"
    />
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  id: {
    type: String,
    default: null,
  },
  label: String,
  name: String,
  modelValue: {
    type: [String, Number],
    default: '',
  },
  placeholder: String,
  type: {
    type: String,
    default: 'text',
    validator: (value) => ['text', 'email', 'number', 'password'].includes(value),
  },
  autocomplete: {
    type: String,
    default: null,
  },
  required: {
    type: Boolean,
    required: false,
    default: false,
  },
  disabled: {
    type: Boolean,
    required: false,
    default: false,
  },
  comment: {
    type: String,
  },
  invalid: {
    type: Boolean,
  },
})

const input = ref(null)
const pristine = ref(true)
const touched = ref(false)

const emit = defineEmits(['update:modelValue', 'blur', 'keypress'])

const localModelValue = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value),
})

const classes = computed(() => {
  return {
    'ok-input': true,
    pristine: pristine.value,
    dirty: !pristine.value,
    touched: touched.value,
    untouched: !touched.value,
    invalid: props.invalid,
  }
})

const handleLabelClick = () => {
  input.value.focus()
}

const handleBlur = (event) => {
  if (!pristine.value) touched.value = true
  emit('blur', event)
}

const handleKeypress = (event) => {
  pristine.value = false
  emit('keypress', event)
}

defineExpose({
  pristine,
  touched,
})
</script>

<style lang="scss">
.ok-input {
  label {
    color: var(--ok-color-text-faded);
    margin-bottom: var(--ok-grid-base);
    span {
      margin-left: (calc(var(--ok-grid-base) * 3));
      font-weight: var(--ok-font-weight-semibold);
    }
  }
  input {
    background-color: var(--ok-color-input-background);
    padding: calc(var(--ok-grid-base) * 2);
    border-bottom: solid 1px var(--ok-color-input-border);
    color: var(--ok-color-text);
    &:active,
    &:focus {
      outline: 2px solid var(--ok-color-primary);
      outline-offset: -2px;
    }
  }
  &.invalid {
    input {
      outline: 2px solid var(--ok-color-danger);
      outline-offset: -2px;
    }
    span {
      color: var(--ok-color-danger);
    }
  }
}
</style>
