<template>
  <div :class="classes">
    <div :class="togglerClasses" @click="toggleCollapse()" />
    <div class="content" :class="{editable: allowEdit, editor:inputActive}">
      <div class="title" :class="{editor:inputActive}">
        {{ title }}
        <span v-if="isNode(localModelValue)" class="type">
          {{ isArray(localModelValue) ? '[' + i18n.strArray + ']' : '{' + i18n.strObject + '}' }}
        </span>
      </div>
      <div v-if="!isNode(localModelValue)" class="data">
        <span
          v-if="!isBoolean(localModelValue)"
          v-show="!inputActive"
          :class="{value: true, 'value--null': isNull(localModelValue)}"
          @dblclick="inputActive = allowEdit"
        >
          {{ isNull(localModelValue) ? 'null' : localModelValue }}
        </span>
        <input
          v-if="!isBoolean(localModelValue) && inputActive"
          v-model="localModelValue"
          @keyup.enter="inputActive = false"
          @blur="inputActive = false"
        />
        <span v-if="isBoolean(localModelValue)" class="boolean" @click="localModelValue = !localModelValue">{{ !localModelValue ? i18n.strFalse : i18n.strTrue }}</span>
        <div class="controls" />
      </div>
      <div v-if="isNode(localModelValue)">
        <Jedi
          v-for="(nextDataItem, indexKey) in localModelValue"
          :key="indexKey"
          v-model="localModelValue[indexKey]"
          :title="`${indexKey}`"
          :class="{colapsed: colapsed}"
          :loaded="true"
          :dark="dark"
          :root="false"
          :allowEdit="allowEdit"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
  import { ref, computed } from 'vue'

  const props = defineProps({
    modelValue: {
      type: [Object, Array, String, Number, Boolean],
      required: false,
      default: () => {
        return {
          name: 'test',
          value: 1,
          nest: [
          'john', 'joe',
          ],
          enabled: true,
        }
      },
    },
    title: {
      type: String,
      default: null,
    },
    root: {
      type: Boolean,
      default: true,
    },
    allowEdit: Boolean,
    dark: Boolean,
    startCollapsed: Boolean,
  })

  const emit = defineEmits(['update:modelValue'])

  const localModelValue = computed({
    get: () => props.modelValue,
    set: (value) => {
      if (props.allowEdit) emit('update:modelValue', value)
    },
  })

  // internal state
  const colapsed = ref(props.startCollapsed)
  const inputActive = ref(false)
  const i18n = ref({
    strBoolean: 'boolean',
    strString: 'string',
    strNumber: 'number',
    strObject: 'object',
    strArray: 'array',
    strNull: 'null',
    strFalse: 'false',
    strTrue: 'true',
  })

  // computed
  const classes = computed(() => {
    return {
      'ok-jedi': true,
      dark: props.dark,
      node: isNode(localModelValue.value),
      leaf: !isNode(localModelValue.value),
      root: props.root,
    }
  })

  const togglerClasses = computed(() => {
    return {
      toggler: true,
      node: isNode(localModelValue.value),
      colapse: !colapsed.value,
      expand: colapsed.value,
    }
  })

  const nextData = computed(() => {
    if (localModelValue.value instanceof Object || Array.isArray(localModelValue.value)) {
      return localModelValue.value
    }
    return null
  })

  // methods
  const toggleCollapse = () => colapsed.value = !colapsed.value
  const isNode = (value) => value instanceof Object || Array.isArray(value)
  const isObject = (value) => value instanceof Object
  const isArray = (value) => Array.isArray(value)
  const isNull = (value) => value === null
  const isBoolean = (value) => typeof value === 'boolean'
  const isPrimitive = (value) => !isObject(value) && !isArray(value)

  const remove = (key) => {
    if (isArray(localModelValue.value)) {
      localModelValue.value.splice(key, 1)
    } else {
      delete(localModelValue.value, key)
    }
  }
  const clear = (key) => localModelValue.value[key] = null
  const add = () => localModelValue.value.push('new')
  const setType = (type, key) => {
    switch (type) {
      case 'string':
      localModelValue.value[key] = ''
      break
      case 'number':
      localModelValue.value[key] = 0
      break
      case 'object':
      localModelValue.value[key] = {}
      break
      case 'array':
      localModelValue.value[key] = []
      break
      case 'boolean':
      localModelValue.value[key] = false
      break
    }
  }
</script>

<style lang="scss">
.ok-jedi {
  display: flex;
  font-family: var(--ok-font-family-sans);
  font-weight: var(--ok-front-weight-regular);
  font-size: var(--ok-font-size-14);
  text-align: left;
  line-height: 24px;
  background: var(--ok-jedi-sprite-light);
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--ok-color-text);
  &.dark {
    background: var(--ok-jedi-sprite-dark);
    color: var(--ok-color-text-negative);
  }
  &:not(.root) {
    background-repeat: repeat-y;
    background-position: -99px 0px;
  }

  &.root,
  &:last-child {
    background-repeat: no-repeat;
    background-position: -99px -96px;
  }

  .toggler {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    cursor: pointer;
    background-position: -66px 0px;
  }

  .toggler {
    background-image: var(--ok-jedi-sprite-light);
    background-color: transparent;
    background-repeat: no-repeat;
  }

  &.dark .toggler {
    background: var(--ok-jedi-sprite-dark);
  }

  &.colapsed {
    display: none;
  }

  .content {
    display: flex;
    box-sizing: border-box;
    padding: 1px 5px;
    width: 100%;
    .title {
      font-weight: 500;
    }
  }

  &.node {
    .toggler.node {
      &.colapse {
        background-position: 0px 0px;
      }
      &.expand {
        background-position: -33px 0px;
      }
    }
    .content {
      flex-direction: column;

      .title {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        span {
          font-family: var(--ok-font-family-mono);
          font-weight: var(--ok-jedi-sprite-dark);
          margin-left: 5px;
          color: var(--ok-color-accent);
          text-transform: capitalize;
        }
      }
    }
  }

  &.leaf {
    .content {
      flex-direction: row;
      border-bottom: solid 1px transparent;

      .title {
        cursor: pointer;
        &:after {
          content: ": ";
          margin-right: 5px;
        }
      }

      .data {
        display: flex;
        flex-grow: 1;
        overflow-x: hidden;
        position: relative;
        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
          width: auto;
          &.value--null {
            color: var(--ok-color-component-placeholder);
          }
        }
        input {
          border: 0;
          outline: 0;
          padding: 0;
          font-size: 14px;
          width: 100%;
          background: transparent;
        }
        .boolean {
          cursor: pointer;
        }
      }

      &.editable {

        .data {
          span {
            &.value {
              cursor: text;
            }
            &.boolean {
              cursor: pointer;
            }
          }
        }
        &:hover {
          border-bottom: dotted 1px var(--ok-color-accent);
        }
      }

      &.editor {
        background: var(--ok-color-component-background);
        border-bottom: solid 1px var(--ok-color-component-border);
      }
    }
  }
}
</style>
