<template>
  <router-link
    v-if="to"
    :to="to"
    :class="classes"
    v-bind="{ ...(disabled && { disabled: true }) }"
  >
    <slot />
  </router-link>
  <a
    v-else
    :href="href"
    :class="classes"
    v-bind="{ ...(disabled && { disabled: true }) }"
  >
    <slot />
  </a>
</template>

<script setup>
import { computed } from 'vue'
const props = defineProps({
  to: {
    type: String,
    default: null,
  },
  href: {
    type: String,
    default: null,
  },
  disabled: Boolean,
})

const classes = computed(() => {
  return {
    'ok-link': true,
  }
})
</script>

<style lang="scss">
.ok-link {
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.1s ease-out;
    border-bottom: 1px solid var(--ok-color-primary-400);
  }
  &:not([disabled]) {
    color: var(--ok-color-primary);
    border: solid 1px transparent;
    &:hover {
      &::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
    &:focus {
      border: dashed 1px var(--ok-color-primary);
    }
  }
  &[disabled] {
    color: var(--ok-color-text-disabled);
  }
}
</style>
