<template>
  <span :content="content" :position="position"><slot /></span>
</template>

<script setup>
const props = defineProps({
  content: {
    type: String,
    default: 'Tooltip text',
  },
  position: {
    default: 'top',
    type: String,
    validator: (value) => ['top', 'right', 'bottom', 'left'].includes(value),
  },
})
</script>
