@use "sass:math";
@import './common';
@import './mixins';
// @import './guides';

// grid styles

@mixin defaults-root-styles {
  box-sizing: border-box;
  display: flex;
  &.flex {
    flex: 1;
  }
}

.ok-grid {
  &.row {
    // padding: calc(var(--ok-grid-base)*4);
    // &.wide {
    //   margin-left: 0;
    //   margin-right: 0;
    // }
    // &.narrow .inside {
    //   margin-left: calc(-1 * var(--ok-grid-base)*2);
    // }
    // &.condensed .inside {
    //   margin-left: calc(-1 * var(--ok-grid-base)*2);
    //   margin-right: calc(-1 * var(--ok-grid-base)*2);
    // }
  }
  @include defaults-root-styles;
  @include generate-styles('');
  @each $breakpoint in map-keys($breakpoints){
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}px) {
      @include generate-styles(#{$breakpoint}#{"-"});
    }
  }
  &.grow {
    flex-grow: 1;
  }
  &.shrink {
    flex-shrink: 1;
  }
  
}
