<template>
  <ok-grid
    dir="col"
    :class="{ 'ok-step': true, 'ok-step--sticky': isSticky }"
    :id="`ok-step-${hash}`"
    ref="Step"
  >
    <slot name="header">
      <div v-if="step.header" class="ok-step__header">
        <h4 v-if="step.header.title">
          {{step.header.title}}
        </h4>
      </div>
    </slot>

    <slot name="content">
      <div class="ok-step__content">
        <div v-if="step.content" v-html="step.content"/>
        <div v-else>props is a demo step! The id of props step is {{ hash }} and it targets {{ step.target }}.</div>
      </div>
    </slot>

    <slot name="actions">
      <ok-grid justify="between">
        <ok-button
          small
          flavour="secondary"
          @click.prevent="skip"
          v-if="!isLast && isButtonEnabled('buttonSkip')"
        >
          {{ labels.buttonSkip }}
        </ok-button>
        <ok-button
          small
          flavour="secondary"
          @click.prevent="previousStep"
          v-if="!isFirst && isButtonEnabled('buttonPrevious')"
        >
          {{ labels.buttonPrevious }}
        </ok-button>
        <ok-button
          small
          flavour="primary"
          @click.prevent="nextStep"
          v-if="!isLast && isButtonEnabled('buttonNext')"
        >
          {{ labels.buttonNext }}
        </ok-button>
        <ok-button
          small
          flavour="primary"
          @click.prevent="finish"
          v-if="isLast && isButtonEnabled('buttonStop')"
        >
          {{ labels.buttonStop }}
        </ok-button>
      </ok-grid>
    </slot>

    <div class="ok-step__arrow" :class="{ 'ok-step__arrow--dark': step.header && step.header.title }"/>
  </ok-grid>
</template>

<script setup>
import { ref, computed, onMounted, onUnmounted } from 'vue'
import { createPopper } from '@popperjs/core'
import jump from 'jump.js'
import sum from 'hash-sum'
import { DEFAULT_STEP_OPTIONS, HIGHLIGHT } from './constants'


const props = defineProps({
  step: {
    type: Object,
  },
  previousStep: {
    type: Function,
  },
  nextStep: {
    type: Function,
  },
  stop: {
    type: Function,
  },
  skip: {
    type: Function,
  },
  finish: {
    type: Function,
  },
  isFirst: {
    type: Boolean,
  },
  isLast: {
    type: Boolean,
  },
  labels: {
    type: Object,
  },
  enabledButtons: {
    type: Object,
  },
  highlight: {
    type: Boolean,
  },
  stopOnFail: {
    type: Boolean,
  },
  debug: {
    type: Boolean,
  },
})

const emit = defineEmits(['targetNotFound'])

const hash = sum(props.step.target)
const targetElement = document.querySelector(props.step.target)

const Step = ref(null)

// computed
const params = computed(() => {
  return {
    ...DEFAULT_STEP_OPTIONS,
    ...{ highlight: props.highlight },
    ...{ enabledButtons: Object.assign({}, props.enabledButtons) },
    ...props.step.params,
  }
})
const isSticky = computed(() => {
  return !props.step.target
})

const createStep = () => {
  if (props.debug) {
    console.log(`[Tour] The target element ${props.step.target} of .ok-step[id="${hash}"] is:`, targetElement)
  }
  if (isSticky.value) {
    document.body.appendChild(Step)
  } else {
    if (targetElement) {
      enableScrolling()
      createHighlight()
      createPopper(
        targetElement,
        Step.value.$el,
        params.value,
      )
    } else {
      if (props.debug) {
        console.error(`[Tour] The target element ${props.step.target} of .ok-step[id="${hash}"] does not exist!`)
      }
      emit('targetNotFound', props.step)
      if (props.stopOnFail) {
        props.stop()
      }
    }
}
}
const enableScrolling = () => {
  if (params.value.enableScrolling) {
    if (props.step.duration || props.step.offset) {
      let jumpOptions = {
        duration: props.step.duration || 1000,
        offset: props.step.offset || 0,
        callback: undefined,
        a11y: false,
      }
      jump(targetElement, jumpOptions)
    } else {
      // Use the native scroll by default if no scroll options has been defined
      targetElement.scrollIntoView({ behavior: 'smooth' })
    }
  }
}
const isHighlightEnabled = () => {
  if (props.debug) {
    console.log(`[Tour] Highlight is ${params.value.highlight ? 'enabled' : 'disabled'} for .ok-step[id="${hash}"]`)
  }
  return params.value.highlight
}
const createHighlight = () => {
  if (isHighlightEnabled()) {
    document.body.classList.add(HIGHLIGHT.CLASSES.ACTIVE)
    const transitionValue = window.getComputedStyle(targetElement).getPropertyValue('transition')
    // Make sure our background doesn't flick on transitions
    if (transitionValue !== 'all 0s ease 0s') {
      targetElement.style.transition = `${transitionValue}, ${HIGHLIGHT.TRANSITION}`
    }
    targetElement.classList.add(HIGHLIGHT.CLASSES.TARGET_HIGHLIGHTED)
    // The element must have a position, if it doesn't have one, add a relative position class
    if (!targetElement.style.position) {
      targetElement.classList.add(HIGHLIGHT.CLASSES.TARGET_RELATIVE)
    }
  } else {
    document.body.classList.remove(HIGHLIGHT.CLASSES.ACTIVE)
  }
}
const removeHighlight = () => {
  if (isHighlightEnabled()) {
    const currentTransition = targetElement.style.transition
    targetElement.classList.remove(HIGHLIGHT.CLASSES.TARGET_HIGHLIGHTED)
    targetElement.classList.remove(HIGHLIGHT.CLASSES.TARGET_RELATIVE)
    // Remove our transition when step is finished.
    if (currentTransition.includes(HIGHLIGHT.TRANSITION)) {
      setTimeout(() => {
        targetElement.style.transition = currentTransition.replace(`, ${HIGHLIGHT.TRANSITION}`, '')
      }, 0)
    }
  }
}
const isButtonEnabled = (name) => {
  return params.value.enabledButtons.hasOwnProperty(name) ? params.value.enabledButtons[name] : true
}
onMounted(createStep)
onUnmounted(removeHighlight)
</script>

<style lang="scss">
.ok-step {
  background: var(--ok-color-tooltip-background);
  color: var(--ok-color-text-negative);
  max-width: 50vw;
  border-radius: var(--ok-grid-base);
  padding: calc(var(--ok-grid-base) * 2);
  pointer-events: auto;
  text-align: center;
  z-index: var(--ok-zindex-tooltip);
  &--sticky {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__arrow {
      display: none;
    }
  }
  &__arrow,
  &__arrow::before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: inherit;
  }
  &__arrow {
    visibility: hidden;
    &--dark {
      &:before {
        background: var(--ok-color-jet);
      }
    }
    &::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
    }
  }
  &[data-popper-placement^="top"]>.ok-step__arrow {
    bottom: -5px;
    left: calc(50% - 10px);
  }
  &[data-popper-placement^="bottom"]>.ok-step__arrow {
    top: -5px;
    left: calc(50% - 10px);
  }
  &[data-popper-placement^="right"]>.ok-step__arrow {
    left: -5px;
    top: calc(50% - 10px);
  }
  &[data-popper-placement^="left"]>.ok-step__arrow {
    right: -5px;
    top: calc(50% - 10px);
  }
  &__content {
    margin: 0 0 10px 0;
  }
}
</style>
