<template>
  <ok-sidebar :isOpen="Boolean(component)" @close="handleClose">
    <component :is="component" v-bind="props" @close="handleClose" />
  </ok-sidebar>
</template>

<script setup>
import { markRaw, ref, onMounted, onUnmounted } from 'vue'
import { EVENTS, EventBus } from '../../helpers'

const ESCAPE_KEY = 27

const component = ref(null)
const props = ref(null)

onMounted(() => {
  EventBus.on(EVENTS.OPEN_SIDEBAR, ({ component, props = null }) => {
    component.value = markRaw(component)
    props.value = props
  })
  EventBus.on(EVENTS.CLOSE_SIDEBAR, handleClose)
  document.addEventListener('keyup', handleKeyup)
})

onUnmounted(() => {
  document.removeEventListener('keyup', handleKeyup)
})

const handleClose = () => {
  component.value = null
}
const handleKeyup = (event) => {
  if (event.keyCode === ESCAPE_KEY) {
    handleClose()
  }
}
</script>
