<template>
  <ok-grid
    ref="sidebar"
    :css="false"
    :class="classes"
    role="dialog"
    tabindex="0"
    grow
    :grid="grid"
    @mouseenter="mouseIsOver = true"
    @mouseleave="mouseIsOver = false"
  >
    <!-- FIXME the overlay needs to go in the root somehow -->
    <!-- <transition name="fade">
      <div
        v-if="mode && !['locked', 'sidenav', 'collapsed'].includes(mode)"
        :css="false"
        class="ok-sidebar__overlay"
        @click="() => dismissable && emit('close')"
      />
    </transition> -->
    <Teleport :to="togglerSlot" v-if="togglerSlot">
      <ok-grid
        dir="col"
        is="button"
        grow
        :class="sidebarToggleClasses"
        align="center"
        justify="center"
        @click="() => emit('close')"
      >
        <ok-icon
          :name="mode === 'sidenav' ? 'sidebar' : 'tool'"
          size="md"
          :color="`var(--ok-color-text${mode === 'sidenav' ? ''  : '-negative'})`"
          clickable
        />
      </ok-grid>
    </Teleport>
    <slot />
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'
import { lockScroll, unlockScroll } from '../../helpers'
import { tabbable } from 'tabbable'

const ESCAPE_KEY = 27
const TAB_KEY = 9

let previouslyFocusedElement

const mouseIsOver = ref()

const props = defineProps({
  mode: {
    type: [Boolean, String],
    default: false,
    validator: (value) => ['locked', 'sidenav', 'collapsed', true, false].includes(value),
    required: true,
  },
  position: {
    type: String,
    required: false,
    default: 'left',
    validator(type) {
      return ['right', 'left'].includes(type)
    },
  },
  dismissable: {
    type: Boolean,
    default: true,
  },
  togglerSlot: String,
  grid: Object,
})

let sidebar = ref()

const emit = defineEmits(['close'])

const classes = computed(() => {
  // FIXME find a way to make the bar disappear
  return {
    'ok-sidebar': true,
    'right': props.position === 'right',
    'left': props.position === 'left',
    'locked': props.mode === 'locked',
    'sidenav': props.mode === 'sidenav',
    'collapsed': props.mode === 'collapsed',
    'mouseover': mouseIsOver.value,
  }
})

const sidebarToggleClasses = computed(() => {
  return {
    'sidebar-toggle': true,
    'right': props.position === 'right',
    'left': props.position === 'left',
    'sidenav': props.mode === 'sidenav',
    'collapsed': props.mode === 'collapsed',
  }
})

const beforeSidebarOpen = () => {
  previouslyFocusedElement = document.activeElement
  lockScroll()
}
const sidebarOpening = () => {
  focusSidebar()
  document.addEventListener('keydown', handleKeyDown)
}
const beforeSidebarClose = () => {
  document.removeEventListener('keydown', handleKeyDown)
  previouslyFocusedElement?.focus()
}
const afterSidebarClose = () => {
  unlockScroll()
}
const getFocusableElements = () => {
  return tabbable(sidebar.value.$el)
}
const focusSidebar = () => {
  const focusableElements = getFocusableElements()

  if (!focusableElements.length) {
    sidebar.value.$el.focus()
    return
  }

  const firstFocusableElement = focusableElements[0]
  firstFocusableElement.focus()
}
const handleKeyDown = (event) => {
  if (event.keyCode === ESCAPE_KEY) {
    emit('close')
    return
  }

  /**
   * Trap focus inside Modal
   * SHIFT + TAB - focus previous element
   * TAB - focus next element
   */
  if (event.keyCode === TAB_KEY) {
    const focusableElements = getFocusableElements()

    /**
     * If there are no focusable elements, keep the focus on the modal div
     */
    if (!focusableElements.length) {
      event.preventDefault()
      sidebar.value.focus()
      return
    }

    const firstFocusableElement = focusableElements[0]
    const lastFocusableElement =
      focusableElements[focusableElements.length - 1]

    /**
     * If the current focus is the first focusable element and the user wants to go back
     * then let's focus on the last element
     */
    if (
      event.shiftKey &&
      document.activeElement === firstFocusableElement
    ) {
      event.preventDefault()
      lastFocusableElement.focus()
    }

    /**
     * If the current focus is the last focusable element on the modal then let's focus
     * on the first
     */
    if (
      !event.shiftKey &&
      document.activeElement === lastFocusableElement
    ) {
      event.preventDefault()
      firstFocusableElement.focus()
    }
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.0s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.sidebar-toggle {
  background-color: var(--ok-color-jet-dark);
  &.sidenav {
    background-color: var(--ok-color-white);
  }
  height: 100%;
  &.left {
    border-right: solid 1px var(--ok-color-accent);
  }
  &.right {
    border-left: solid 1px var(--ok-color-accent);
  }
  &:focus {
    box-shadow: inset 0 0 0 2px var(--ok-color-primary);
  }
}
.ok-sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - (var(--ok-grid-base) * 6));
  background: var(--ok-color-text);
  color: var(--ok-color-text-negative);
  &.sidenav {
    background: var(--ok-color-white);
    color: var(--ok-color-text);
  }
  &.collapsed {
    position: absolute;
    left: 0;
    top: calc(var(--ok-grid-base)*6);
    height: calc(100vh - (var(--ok-grid-base)*6));
    &:not(.mouseover) {
      width: calc(var(--ok-grid-base)*6);
      flex-basis: calc(var(--ok-grid-base)*6);
      max-width: calc(var(--ok-grid-base)*6);
      min-width: calc(var(--ok-grid-base)*6);
    }
    &.mouseover {
      width: auto;
      flex-basis: initial;
      max-width: auto;
    }
    background: var(--ok-color-text);
    color: var(--ok-color-text-negative);
    z-index: var(--ok-zindex-navigation);
  }
  overflow-y: scroll;
  &.left:not(.sidenav) {
    border-right: solid 1px var(--ok-color-accent);
  }
  &.right {
    border-left: solid 1px var(--ok-color-accent);
    padding: var(--ok-grid-base);
  }
  &:not(.locked) {
    position: fixed;
    top: calc(var(--ok-grid-base) * 6);
    &.left {
      left: 0;
      // box-shadow: -10px 0px 10px rgba(174, 185, 203, 0.26),-14px 0px 28px rgba(174, 185, 203, 0.25);
    }
    &.right {
      right: 0;
      // box-shadow: 10px 0px 10px rgba(174, 185, 203, 0.26),-14px 0px 28px rgba(174, 185, 203, 0.25);
    }
  }
  &__overlay {
    cursor: pointer;
    width: 100%;
    height: calc(100vh - (var(--ok-grid-base) * 6));
    position: fixed;
    top: calc(var(--ok-grid-base) * 6);
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
</style>
