<template>
  <ul class="button-demo">
    <li flavour="primary">
      <ok-button>
        primary
      </ok-button>
    </li>
    <li>
      <ok-button flavour="secondary">
        secondary
      </ok-button>
    </li>
    <li>
      <ok-button flavour="tertiary">
        tertiary
      </ok-button>
    </li>
    <li>
      <ok-button flavour="danger">
        danger
      </ok-button>
    </li>
    <li>
      <ok-button disabled>
        disabled
      </ok-button>
    </li>
    <li>
      <ok-button flavour="tertiary" disabled>
        disabled tertiary
      </ok-button>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
  .button-demo {
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
    }
  }
  </style>
