<template>
  <ul class="button-demo">
    <li>
      <ok-button size="sm">
        Small
      </ok-button>
    </li>
    <li>
      <ok-button size="md">
        Medium
      </ok-button>
    </li>
    <li>
      <ok-button size="lg-expressive">
        Large Expressive
      </ok-button>
    </li>
    <li>
      <ok-button size="lg-productive">
        Large Productive
      </ok-button>
    </li>
    <li>
      <ok-button size="xl">
        Extra Large
      </ok-button>
    </li>
    <li>
      <ok-button size="xxl">
        Extra Extra large
      </ok-button>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
  .button-demo {
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
    }
  }
  </style>
