<template>
  <ok-grid class="ok-content-list-mode">
    <ok-grid
      is="button"
      @click="handleClickQuantity"
      dir="col"
      align="center"
      justify="center"
    >
      <ok-icon :name="`quantity-${currentIconQuantity}`" size="lg" color="var(--ok-color-text-negative)" />
    </ok-grid>
    <ok-grid
      is="button"
      @click="handleClickSort"
      dir="col"
      align="center"
      justify="center"
    >
      <ok-icon :name="currentIconSort" size="lg" color="var(--ok-color-text-negative)" />
    </ok-grid>
  </ok-grid>
</template>

<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  modeQuantity: {
    type: String,
    default: 'maximum',
    validator: (value) => ['maximum', 'many', 'few', 'minimum', 'lines'].includes(value),
  },
  modeSort: {
    type: String,
    default: 'asc',
    validator: (value) => ['asc', 'des'].includes(value),
  },
})

const currentModeQuantityIndex = ref(['maximum', 'many', 'few', 'minimum', 'lines'].indexOf(props.modeQuantity))
const currentModeSortIndex = ref(['asc', 'des'].indexOf(props.modeSort))

const mode = ref({
  quantity: ['maximum', 'many', 'few', 'minimum', 'lines'][currentModeQuantityIndex.value],
  sort: ['asc', 'des'][currentModeSortIndex.value],
})

defineExpose({
  mode,
})

const currentIconQuantity = computed(() => {
  return [
    'max',
    'many',
    'few',
    'min',
    'lines',
  ][currentModeQuantityIndex.value]
})

const currentIconSort = computed(() => {
  return [
    'arrow-up',
    'arrow-down',
  ][currentModeSortIndex.value]
})

const emit = defineEmits(['click'])

const handleClickQuantity = () => {
  currentModeQuantityIndex.value = currentModeQuantityIndex.value + 1 < ['maximum', 'many', 'few', 'minimum', 'lines'].length
    ? currentModeQuantityIndex.value + 1
    : currentModeQuantityIndex.value = 0

  mode.value = {
    quantity: ['maximum', 'many', 'few', 'minimum', 'lines'][currentModeQuantityIndex.value],
    sort: ['asc', 'des'][currentModeSortIndex.value],
  }

  emit('click', mode.value)
}

const handleClickSort = () => {
  currentModeSortIndex.value = currentModeSortIndex.value + 1 < ['asc', 'des'].length
    ? currentModeSortIndex.value + 1
    : currentModeSortIndex.value = 0

  mode.value = {
    quantity: ['maximum', 'many', 'few', 'minimum', 'lines'][currentModeQuantityIndex.value],
    sort: ['asc', 'des'][currentModeSortIndex.value],
  }

  emit('click', mode.value)}
</script>

<style lang="scss" scoped>
.ok-content-list-mode {
  button {
    width: calc(var(--ok-grid-base) * 6);
    height: calc(var(--ok-grid-base) * 6);
    background-color: var(--ok-color-text);
    box-shadow: inset 0 -1px 0 var(--ok-color-accent);
    &:focus {
      box-shadow: inset 0 0 0 2px var(--ok-color-primary);
    }
    &:hover {
      background-color: var(--ok-color-jet);
    }
  }
}
</style>
