<template>
  <Teleport :to="toolsSlot" v-if="toolsSlot">
    <ok-content-list-mode ref="contentListModeChanger" :modeQuantity="initialModeQuantity" />
  </Teleport>
  <div :class="classes" v-if="!empty">
    <ok-content-list-mode ref="contentListModeChanger" :modeQuantity="initialModeQuantity" v-if="!toolsSlot" />
    <slot />
    <ok-grid
      v-if="showPlus"
      :dir="contentListModeChanger?.mode?.quantity === 'lines' ? 'row' : 'col'"
      class="card new"
      align="center"
      justify="center"
      @click="emit('click')"
    >
      <ok-icon name="plus" size="xxl" />
    </ok-grid>
  </div>
  <ok-grid
    v-else
    dir="col"
    class="ok-content-list-empty"
    justify="center"
    align="center"
  >
    <ok-icon :name="emptyIcon" size="xxl" />
    <h2>{{ emptyHeader }}</h2>
    <h3>{{ emptySubheader }}</h3>
    <ok-button
      v-if="emptyCtaLabel"
      flavour="primary"
      @click="(event) => emit('click', event)"
    >
      {{ emptyCtaLabel }}
    </ok-button>
  </ok-grid>
</template>

<script setup>
import { ref, computed, useSlots } from 'vue'

const props = defineProps({
  toolsSlot: String,
  empty: Boolean,
  emptyIcon: {
    type: String,
    default: 'alert-triangle',
  },
  showPlus: Boolean,
  emptyHeader: String,
  emptySubheader: String,
  emptyCtaLabel: String,
  initialModeQuantity: {
    type: String,
    default: 'maximum',
    validator: (value) => ['maximum', 'many', 'few', 'minimum', 'lines'].includes(value),
  },
})

const contentListModeChanger = ref()
const slots = useSlots()

const emit = defineEmits(['click'])

const classes = computed(() => {
  return {
    'ok-content-list': true,
    [contentListModeChanger?.value?.mode?.quantity]: contentListModeChanger,
  }
})

const mode = computed(() => contentListModeChanger?.value?.mode)

defineExpose({
  mode,
})
</script>

<style lang="scss">
.ok-content-list {
  display: grid;
  width: 100%;
  &.maximum {
    grid-template-columns: repeat(5, 1fr);
  }
  &.many {
    grid-template-columns: repeat(4, 1fr);
  }
  &.few {
    grid-template-columns: repeat(3, 1fr);
  }
  &.minimum {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-column-gap: calc(var(--ok-grid-base) * 4);
  grid-row-gap: calc(var(--ok-grid-base) * 4);
  .card {
    background-color: var(--ok-color-text-negative);
    padding: calc(var(--ok-grid-base) * 2);
    cursor: pointer;
    &:hover {
      background-color: var(--ok-color-component-background);
    }
    small {
      color: var(--ok-color-text-faded);
    }
    &.new {
      background-color: transparent;
      border: dotted 1px var(--ok-color-input-border);
      &:hover {
        background-color: transparent;
        border-style: dashed;
      }
    }
  }
}
.ok-content-list-empty {
  min-height: 50vh;
  h2,
  h3 {
    font-weight: var(--ok-font-weight-regular);
  }
}
</style>
